apiVersion: apps/v1
kind: Deployment
metadata:
  name: back-end2
  labels:
    app: back-end2
spec:
  replicas: 1
  selector:
    matchLabels:
      app: back-end2
  template:
    metadata:
      labels:
        app: back-end2
    spec:
      containers:
        - name: back-end2
          image: wajditech/back-end2:v2
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 5000
              name: http
          env:
            - name: PORT
              value: "5000"
            - name: DB_HOST
              value: "db-service"
            - name: DB_PORT
              value: "5432"
            - name: DB_NAME
              valueFrom:
                configMapKeyRef:
                  name: db-config
                  key: POSTGRES_DB
            - name: DB_USER
              valueFrom:
                secretKeyRef:
                  name: db-secret
                  key: POSTGRES_USER
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: db-secret
                  key: POSTGRES_PASSWORD
          readinessProbe:
            httpGet:
              path: /healthz
              port: 5000
            initialDelaySeconds: 3
            periodSeconds: 5
