apiVersion: v1
kind: Service
metadata:
  name: front-end-service
  labels:
    app: front-end
spec:
  type: NodePort
  selector:
    app: front-end
  ports:
    - name: http
      port: 3000
      targetPort: 3000
      nodePort: 30081
